<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Weather Forecast</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-dark text-white">

{% include 'navbar.html' %}

<div class = 'text-center'>
    <h1 class = "mt-5">Forecast Machine</h1>
    <form action="/" method = "post">
        <div class = "container">
            <div class = "row">
                <div class = "col-sm">
        <input type="text" id = "CityName" name="CityName" placeholder="City" class="form-control">
                    </div>
                </div>
        </div> <br>
        <button type="submit" class="btn btn-primary">Forecast</button>
    </form>
    {% if data_1 %}
    <br>
    Day: {{ data_1.dow }} ||
        {{ data_1.main }}: {{ data_1.description }} <br>
        <img src = "https://openweathermap.org/img/wn/{{data_1.icon}}@2x.png" alt="Icon">
        <p>Day temperature: {{ data_1.temperature }}°C</p>
        <p>Night temperature: {{ data_1.temperature_night }}°C</p>
    <br>
    Day: {{ data_2.dow }} ||
    {{ data_2.main }}: {{ data_2.description }} <br>
        <img src = "https://openweathermap.org/img/wn/{{data_2.icon}}@2x.png" alt="Icon">
        <p>Day temperature: {{ data_2.temperature }}°C</p>
        <p>Night temperature: {{ data_2.temperature_night }}°C</p>
    <br>
    Day: {{ data_3.dow }} ||
    {{ data_3.main }}: {{ data_3.description }} <br>
        <img src = "https://openweathermap.org/img/wn/{{data_3.icon}}@2x.png" alt="Icon">
        <p>Day temperature: {{ data_3.temperature }}°C</p>
        <p>Night temperature: {{ data_3.temperature_night }}°C</p>
    {% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</div>
<div class="p-3 mb-2 bg-dark text-white">

    <div style="position: absolute; bottom: 3px; background-color: white"  class="p-3 mb-2 bg-dark text-white">
    <h3>ORHAN MURAT TUNCER</h3>
    </div>
</div>
</body>
</html>